<!DOCTYPE html>
<html>
<head>
  <title>UserPostHW6</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if flash[:error] || flash[:notice] %>
		<div id="flash">
			<% if flash[:error] %>
				<div id="flash-error"><%= flash[:error] %></div>
			<% end %>
			<% if flash[:notice] %>
				<div id="flash-notice"><%= flash[:notice] %></div>
			<% end %>	
		</div>	
	<% end %>

<%= yield %>

</body>
</html>
